{
    "bracketSpacing": true,
    "insertPragma": false,
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "useTabs": true,
    "endOfLine": "auto",
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "arrowParens": "avoid",
    "overrides": [
      {
        "files": ".prettierrc",
        "options": { "parser": "typescript" }
      }
    ]
  }